/logs/
/lu_pads_65nm/
/jollof_top.sdf_typ.csd
/modelsim.ini
/transcript
/.Xil/
/.jollof_top17698.rs.fp
/.jollof_top17698.rs.fp.spr
/.jollof_top22423.rs.fp
/.jollof_top22423.rs.fp.spr
/.synopsys_dc.setup
